In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline 
plt.style.use("fivethirtyeight")
sb.set_context("notebook")

# Kết nối Database

---

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
data = pd.read_csv("/content/drive/MyDrive/train_dataset (1).csv")
test = pd.read_csv("/content/drive/MyDrive/test.csv")
test.head()

   sim_number
0   776260543
1   822977488
2   707963979
3   344134986
4   795718118

# Tạo các thuộc tính của sim

---

## Sim tiến lên

In [74]:
def increaseLength_orderly(st):
  s = str(st)
  len = 1
  max = 1
  for i in range(0,8):
    if(ord(s[i]) + 1 == ord(s[i+1])):
      len += 1
      if(max < len) : max = len
    else:
      len = 1
  if(max < 3): max = 0
  return max
  
data["sim_tien_len"] = data["sim_number"].apply(increaseLength_orderly)
test["sim_tien_len"] = test["sim_number"].apply(increaseLength_orderly)
test.head()

   sim_number  sim_tien_len
0   776260543             0
1   822977488             0
2   707963979             0
3   344134986             0
4   795718118             0

## Sim lùi

In [75]:
def decreaseLength_orderly(st):
  s = str(st)
  len = 1
  max = 1
  for i in range(0,8):
    if(ord(s[i]) - 1 == ord(s[i+1])):
      len += 1
    else:
      if(max < len) : max = len
      len = 1
  if(max < len) : max = len
  return max if max > 2 else 0

data["sim_lui"] = data["sim_number"].apply(decreaseLength_orderly)
test["sim_lui"] = test["sim_number"].apply(increaseLength_orderly)
test.head()

   sim_number  sim_tien_len  sim_lui
0   776260543             0        0
1   822977488             0        0
2   707963979             0        0
3   344134986             0        0
4   795718118             0        0

## Sim cửu quý

In [77]:
def check9(st):
  s = str(st)
  n = len(s)
  for i in range(1, n) :
      if s[i] != s[0] :
          return 0
  return 1
data["sim_cuu_quy"] = data["sim_number"].apply(check9)
test["sim_cuu_quy"] = test["sim_number"].apply(increaseLength_orderly)
test.head()

   sim_number  sim_tien_len  sim_lui  sim_cuu_quy
0   776260543             0        0            0
1   822977488             0        0            0
2   707963979             0        0            0
3   344134986             0        0            0
4   795718118             0        0            0

## Bát quý

In [78]:
def check8(st):
  s = str(st)
  n = len(s)
  count = 1
  check = 0
  max = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if(count == 8 and i == 6): 
        check = 1
      if(count == 8 and i == n-2): 
        check = 2
    else:
      count = 1
  if(max == 8): return check
  return 0
data["sim_bat_quy"] = data["sim_number"].apply(check8)
test["sim_bat_quy"] = test["sim_number"].apply(check8)
test.head()

   sim_number  sim_tien_len  sim_lui  sim_cuu_quy  sim_bat_quy
0   776260543             0        0            0            0
1   822977488             0        0            0            0
2   707963979             0        0            0            0
3   344134986             0        0            0            0
4   795718118             0        0            0            0

### Bát quý đầu

In [82]:
def check8_head(st):
  s = str(st)
  n = len(s)
  count = 1
  max = 1
  check = 0
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 8 and i == 6):
        check = 1
    else:
      count = 1
  if (max == 8 and check == 1): return 1
  else: return 0
data["sim_bat_quy_dau"] = data["sim_number"].apply(check8_head)
test["sim_bat_quy_dau"] = test["sim_number"].apply(check8_head)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy
0,776260543,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0

### Bát quý đuôi

In [83]:
def check8_tail(st):
  s = str(st)
  n = len(s)
  count = 1
  max = 1
  check = 0
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 8 and i == n-2):
        check = 1
    else:
      count = 1
  if (max == 8 and check == 1): return 1
  else: return 0
data["sim_bat_quy_cuoi"] = data["sim_number"].apply(check8_tail)
test["sim_bat_quy_cuoi"] = test["sim_number"].apply(check8_tail)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi
0,776260543,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0

## Thất quý
- Nếu là thất quý đầu thì return 1
- Nếu là thất quý giữa thì return 2
- Nếu là thất quý cuối thì return 3

In [80]:
def check7(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if(count == 7 and i == 5): 
        check = 1
      elif(count == 7 and i == n-2):
        check = 3
      elif(count == 7):
        check = 2
    else:
      count = 1
  if(max == 7): return check
  else: return 0
data["sim_that_quy"] = data["sim_number"].apply(check7)
test["sim_that_quy"] = test["sim_number"].apply(check7)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy
0,776260543,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0

### Thất quý đầu

In [84]:
def check7_head(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if(count == 7 and i == 5): 
        check = 1
    else:
      count = 1
  if(max == 7 and check == 1): return 1
  else: return 0
data["sim_that_quy_dau"] = data["sim_number"].apply(check7_head)
test["sim_that_quy_dau"] = test["sim_number"].apply(check7_head)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau
0,776260543,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0

### Thất quý giữa

In [85]:
def check7_mid(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (1,n-2):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if(count == 7 and i != 5 and i != n-2): 
        check = 1
    else:
      count = 1
  if(max == 7 and check == 1): return 1
  return 0
data["sim_that_quy_giua"] = data["sim_number"].apply(check7_mid)
test["sim_that_quy_giua"] = test["sim_number"].apply(check7_mid)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua
0,776260543,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0

### Thất quý đuôi

In [86]:
def check7_tail(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      elif(count == 7 and i == n-2):
        check = 1
    else:
      count = 1
  if(max == 7 and check == 1): return 1
  else: return 0
data["sim_that_quy_duoi"] = data["sim_number"].apply(check7_tail)
test["sim_that_quy_duoi"] = test["sim_number"].apply(check7_tail)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi
0,776260543,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0

## Lục quý
- Nếu là lục quý đầu thì return 1
- Nếu là lục quý giữa thì return 2
- Nếu là lục quý cuối thì return 3

In [87]:
def check6(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 6 and i == 4):
        check = 1
      elif (count == 6 and i == n-2):
        check = 3
      elif (count == 6):
        check = 2
    else:
      count = 1
  if(max == 6): return check
  return 0
data["sim_luc_quy"] = data["sim_number"].apply(check6)
test["sim_luc_quy"] = test["sim_number"].apply(check6)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy
0,776260543,0,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0,0

### Lục quý đầu

In [15]:
def check6_head(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 6 and i == 4):
        check = 1
    else:
      count = 1
  if(max == 6 and check == 1): return check
  return 0
data["sim_luc_quy_dau"] = data["sim_number"].apply(check6_head)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_luc_quy_dau
0,450000,343189288,0,0,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,0,0,0,0

### Lục quý giữa

In [16]:
def check6_mid(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 6 and i != 4 and i != n-2):
        check = 1
    else:
      count = 1
  if(max == 6 and check == 1): return 1
  return 0
data["sim_luc_quy_giua"] = data["sim_number"].apply(check6_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_luc_quy_dau,sim_luc_quy_giua
0,450000,343189288,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,0,0,0,0,0

### Lục quý đuôi

In [17]:
def check6_tail(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      elif (count == 6 and i == n-2):
        check = 1
    else:
      count = 1
  if(max == 6 and check == 1): return 1
  return 0
data["sim_luc_quy_duoi"] = data["sim_number"].apply(check6_tail)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_luc_quy_dau,sim_luc_quy_giua,sim_luc_quy_duoi
0,450000,343189288,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Ngũ quý
- Nếu là ngũ quý đầu thì return 1
- Nếu là ngũ quý giữa thì return 2
- Nếu là ngũ quý cuối thì return 3

In [88]:
def check5(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 5 and i == 3):
        check = 1
      elif (count == 5 and i == n-2):
        check = 3
      elif (count == 5):
        check = 2
    else:
      count = 1
  if(max == 5): return check
  return 0

data["sim_ngu_quy"] = data["sim_number"].apply(check5)
test["sim_ngu_quy"] = test["sim_number"].apply(check5)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_ngu_quy
0,776260543,0,0,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0,0,0

### Ngũ quý đầu

In [19]:
def check5_head(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 5 and i == 3):
        check = 1
    else:
      count = 1
  if(max == 5 and check == 1): return 1
  return 0

data["sim_ngu_quy_dau"] = data["sim_number"].apply(check5_head)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_luc_quy_dau,sim_luc_quy_giua,sim_luc_quy_duoi,sim_ngu_quy,sim_ngu_quy_dau
0,450000,343189288,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Ngũ quý giữa

In [20]:
def check5_mid(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 5 and i != 3 and i!= n-2):
        check = 1
    else:
      count = 1
  if(max == 5 and check == 1): return 1
  return 0

data["sim_ngu_quy_giua"] = data["sim_number"].apply(check5_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_luc_quy_dau,sim_luc_quy_giua,sim_luc_quy_duoi,sim_ngu_quy,sim_ngu_quy_dau,sim_ngu_quy_giua
0,450000,343189288,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Ngũ quý đuôi

In [21]:
def check5_tail(st):
  s = str(st)
  n = len(s)
  check = 0
  max = 1
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      elif (count == 5 and i == n-2):
        check = 1
    else:
      count = 1
  if(max == 5 and check == 1): return 1
  return 0

data["sim_ngu_quy_duoi"] = data["sim_number"].apply(check5_tail)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_luc_quy_dau,sim_luc_quy_giua,sim_luc_quy_duoi,sim_ngu_quy,sim_ngu_quy_dau,sim_ngu_quy_giua,sim_ngu_quy_duoi
0,450000,343189288,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Tứ quý

### Tứ quý đầu

In [89]:
def check4_head(st):
  s = str(st)
  n = len(s)
  count = 1
  max = 1
  check = 0
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 4 and i == 2):
        check = 1
    else:
      count = 1
  if (max == 4 and check == 1): return 1
  else: return 0
data["sim_tu_quy_dau"] = data["sim_number"].apply(check4_head)
test["sim_tu_quy_dau"] = test["sim_number"].apply(check4_head)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_ngu_quy,sim_tu_quy_dau
0,776260543,0,0,0,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0,0,0,0

### Tứ quý giữa

In [90]:
def check4_mid(st):
  s = str(st)
  n = len(s)
  max = 1
  check = 0
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 4 and i != 2 and i != n-2):
        check = 1
    else:
      count = 1
  if (max == 4 and check == 1): return 1
  else: return 0
data["sim_tu_quy_giua"] = data["sim_number"].apply(check4_mid)
test["sim_tu_quy_giua"] = test["sim_number"].apply(check4_mid)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_ngu_quy,sim_tu_quy_dau,sim_tu_quy_giua
0,776260543,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Tứ quý đuôi

In [91]:
def check4_tail(st):
  s = str(st)
  n = len(s)
  max = 1
  check = 0
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 4 and i == n-2):
        check = 1
    else:
      count = 1
  if (max == 4 and check == 1): return 1
  else: return 0
data["sim_tu_quy_duoi"] = data["sim_number"].apply(check4_tail)
test["sim_tu_quy_duoi"] = test["sim_number"].apply(check4_tail)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_ngu_quy,sim_tu_quy_dau,sim_tu_quy_giua,sim_tu_quy_duoi
0,776260543,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Tứ quý lặp

In [92]:
def check_repeat4_tail(st):
  s = str(st)
  n = len(s)
  count = 1
  max = 1
  dem = 0
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if(count == 4): dem += 1
    else:
      count = 1
  if(max > 4): dem -= 1
  if (dem == 2): return 1
  else: return 0

data["sim_tu_quy_kep"] = data["sim_number"].apply(check_repeat4_tail)
test["sim_tu_quy_kep"] = test["sim_number"].apply(check_repeat4_tail)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_ngu_quy,sim_tu_quy_dau,sim_tu_quy_giua,sim_tu_quy_duoi,sim_tu_quy_kep
0,776260543,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Tam hoa

### Tam hoa đầu

In [93]:
def check3_head(st):
  s = str(st)
  n = len(s)
  max = 1
  count = 1
  check = 0
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 3 and i == 1):
        check = 1
    else:
      count = 1
  if (max == 3 and check == 1): return 1
  else: return 0
data["sim_tam_hoa_dau"] = data["sim_number"].apply(check3_head)
test["sim_tam_hoa_dau"] = test["sim_number"].apply(check3_head)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_ngu_quy,sim_tu_quy_dau,sim_tu_quy_giua,sim_tu_quy_duoi,sim_tu_quy_kep,sim_tam_hoa_dau
0,776260543,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Tam hoa giữa

In [95]:
def check3_mid(st):
  s = str(st)
  n = len(s)
  max = 1
  check = 0
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if(max < count): max = count
      if (count == 3 and i != 1 and i != n-2):
        check = 1
    else:
      count = 1
  if (max == 3 and check == 1): return 1
  else: return 0
data["sim_tam_hoa_giua"] = data["sim_number"].apply(check3_mid)
test["sim_tam_hoa_giua"] = test["sim_number"].apply(check3_mid)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_ngu_quy,sim_tu_quy_dau,sim_tu_quy_giua,sim_tu_quy_duoi,sim_tu_quy_kep,sim_tam_hoa_dau,sim_tam_hoa_duoi,sim_tam_hoa_giua
0,776260543,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Tam hoa đuôi

In [94]:
def check3_tail(st):
  s = str(st)
  n = len(s)
  count = 1
  for i in range (n-1):
    if(s[i] == s[i+1]): 
      count += 1
      if (count == 3 and i == n-2):
        return 1
    else:
      count = 1
  return 0
data["sim_tam_hoa_duoi"] = data["sim_number"].apply(check3_tail)
test["sim_tam_hoa_duoi"] = test["sim_number"].apply(check3_tail)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,sim_that_quy_duoi,sim_luc_quy,sim_ngu_quy,sim_tu_quy_dau,sim_tu_quy_giua,sim_tu_quy_duoi,sim_tu_quy_kep,sim_tam_hoa_dau,sim_tam_hoa_duoi
0,776260543,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Tam hoa kép

In [96]:
def check_repeat3_tail(st):
  s = str(st)
  n = len(s)
  count = 1
  check = 0
  tinh = 0
  dem = 0
  for i in range (n-1):
    if(s[i] == s[i+1]):
      count += 1
      if(count > 3 and check == 0):
        check = 1
        tinh += 1
      if(count == 3): dem += 1
    else:
      count = 1
      check = 0
  dem = dem - tinh
  if (dem > 1): return dem
  else: return 0

data["sim_tam_hoa_kep"] = data["sim_number"].apply(check_repeat3_tail)
test["sim_tam_hoa_kep"] = test["sim_number"].apply(check_repeat3_tail)
test.head()

,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_that_quy,sim_bat_quy_cuoi,sim_that_quy_dau,sim_that_quy_giua,...,sim_luc_quy,sim_ngu_quy,sim_tu_quy_dau,sim_tu_quy_giua,sim_tu_quy_duoi,sim_tu_quy_kep,sim_tam_hoa_dau,sim_tam_hoa_duoi,sim_tam_hoa_giua,sim_tam_hoa_kep
0,776260543,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,822977488,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,707963979,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,344134986,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,795718118,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Gánh đảo

### Gánh đơn: *abba

In [30]:
# Gánh đơn
# * Ở đuôi
def check_sub_abba(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,0,-1):
    if(s[i-1]==s[i-2] and s[i] == s[i-3] and s[i] != s[i-1]): return 1
    else: break
  return 0
# *Ở giữa
def check_sub_abba_mid(st):
  s = str(st)
  n = len(s)
  dem = 0
  for i in range (n-2,2,-1):
    if(s[i-1]==s[i-2] and s[i] == s[i-3]and s[i] != s[i-1]): 
      dem += 1
  return dem
data["Sim_Ganh_Dao_abba_Duoi"] = data["sim_number"].apply(check_sub_abba)
data["Sim_Ganh_Dao_abba_Giua"] = data["sim_number"].apply(check_sub_abba_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_tu_quy_dau,sim_tu_quy_giua,sim_tu_quy_duoi,sim_tu_quy_kep,sim_tam_hoa_dau,sim_tam_hoa_giua,sim_tam_hoa_duoi,sim_tam_hoa_kep,Sim_Ganh_Dao_abba_Duoi,Sim_Ganh_Dao_abba_Giua
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
def check_sub_abba_1(st):
  s = str(st)
  n = len(s)
  dem = 0
  for i in range (n-1,2,-1):
    if(s[i-1]==s[i-2] and s[i] == s[i-3]and s[i] != s[i-1]): 
      dem += 1
  return dem
data["Sim_Ganh_Dao_abba"] = data["sim_number"].apply(check_sub_abba_1)
test["Sim_Ganh_Dao_abba"] = test["sim_number"].apply(check_sub_abba_1)

### Gánh đơn: *aba

In [32]:
# Gánh đơn
# * Ở đuôi
def check_sub_aba(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,0,-1):
    if(s[i] == s[i-2] and s[i] != s[i-1]): return 1
    else: break
  return 0
# *Ở giữa
def check_sub_aba_mid(st):
  s = str(st)
  n = len(s)
  dem = 0 
  for i in range (n-2,1,-1):
    if(s[i] == s[i-2]and s[i] != s[i-1]): 
      dem += 1
  return dem
data["Sim_Ganh_Dao_aba_Duoi"] = data["sim_number"].apply(check_sub_aba)
data["Sim_Ganh_Dao_aba_Giua"] = data["sim_number"].apply(check_sub_aba_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_tu_quy_kep,sim_tam_hoa_dau,sim_tam_hoa_giua,sim_tam_hoa_duoi,sim_tam_hoa_kep,Sim_Ganh_Dao_abba_Duoi,Sim_Ganh_Dao_abba_Giua,Sim_Ganh_Dao_abba,Sim_Ganh_Dao_aba_Duoi,Sim_Ganh_Dao_aba_Giua
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [98]:
def check_sub_aba_1(st):
  s = str(st)
  n = len(s)
  dem = 0 
  for i in range (n-1,1,-1):
    if(s[i] == s[i-2]and s[i] != s[i-1]): 
      dem += 1
  return dem
data["Sim_Ganh_Dao_aba"] = data["sim_number"].apply(check_sub_aba_1)
test["Sim_Ganh_Dao_aba"] = test["sim_number"].apply(check_sub_aba_1)

### Gánh kép bằng: abcab

Phân vị trí

In [34]:
# Gánh kép bằng
# *Ở đuôi 
def check_double_Palindrome(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,0,-1):
    if(s[i-1]==s[i-4] and s[i] == s[i-3] and s[i] != s[i-1]): return 1
    else: break
  return 0
# Ở giữa
def check_double_Palindrome_mid(st):
  s = str(st)
  n = len(s)
  for i in range (n-2,3,-1):
    if(s[i-1]==s[i-4] and s[i] == s[i-3] and s[i] != s[i-1]): return 1
  return 0
data["Sim_Ganh_Kep_Giua"] = data["sim_number"].apply(check_double_Palindrome_mid)
data["Sim_Ganh_Kep_Duoi"] = data["sim_number"].apply(check_double_Palindrome)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_tam_hoa_duoi,sim_tam_hoa_kep,Sim_Ganh_Dao_abba_Duoi,Sim_Ganh_Dao_abba_Giua,Sim_Ganh_Dao_abba,Sim_Ganh_Dao_aba_Duoi,Sim_Ganh_Dao_aba_Giua,Sim_Ganh_Dao_aba,Sim_Ganh_Kep_Giua,Sim_Ganh_Kep_Duoi
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

Không phân vị trí

In [99]:
def check_double_abcab(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,3,-1):
    if(s[i-1]==s[i-4] and s[i] == s[i-3] and s[i] != s[i-1]): return 1
  return 0
data["Sim_Ganh_Kep_abcab"] = data["sim_number"].apply(check_double_abcab)
test["Sim_Ganh_Kep_abcab"] = test["sim_number"].apply(check_double_abcab)

### Gánh kép tiến: abcba

Phân vị trí

In [36]:
# Gánh kép tiến
def check_doubleEx_Palindrome(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,0,-1):
    if(s[i]==s[i-4] and s[i-1] == s[i-3] and s[i] != s[i-1]): return 1
    else: break
  return 0
# Ở giữa
def check_doubleEx_Palindrome_mid(st):
  s = str(st)
  n = len(s)
  for i in range (n-2,3,-1):
    if(s[i]==s[i-4] and s[i-1] == s[i-3] and s[i] != s[i-1]): return 1
  return 0
data["Sim_Ganh_Tien_Giua"] = data["sim_number"].apply(check_doubleEx_Palindrome_mid)
data["Sim_Ganh_Tien_Duoi"] = data["sim_number"].apply(check_doubleEx_Palindrome)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,Sim_Ganh_Dao_abba_Giua,Sim_Ganh_Dao_abba,Sim_Ganh_Dao_aba_Duoi,Sim_Ganh_Dao_aba_Giua,Sim_Ganh_Dao_aba,Sim_Ganh_Kep_Giua,Sim_Ganh_Kep_Duoi,Sim_Ganh_Kep_abcab,Sim_Ganh_Tien_Giua,Sim_Ganh_Tien_Duoi
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

Không phân vị trí

In [100]:
def check_doubleEx_abcba(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,3,-1):
    if(s[i]==s[i-4] and s[i-1] == s[i-3] and s[i] != s[i-1]): return 1
  return 0
data["Sim_Ganh_Tien_abcba"] = data["sim_number"].apply(check_doubleEx_abcba)
test["Sim_Ganh_Tien_abcba"] = test["sim_number"].apply(check_doubleEx_abcba)

### Gánh dạng: abcdabc

Phân vị trí

In [38]:
#Ở cuối
def check_double_third(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,5,-1):
    if(s[i] == s[i-4] and s[i-1]==s[i-5] and s[i-2]==s[i-6]):
      if(s[i]==s[i-1] and s[i-1]==s[i-2]):
        continue
      else:
        return 1
    else: break
  return 0
#Ở giữa
def check_double_third_mid(st):
  s = str(st)
  n = len(s)
  for i in range (n-2,5,-1):
    if(s[i] == s[i-4] and s[i-1]==s[i-5] and s[i-2]==s[i-6]):
      if(s[i]==s[i-1] and s[i-1]==s[i-2]):
        continue
      else:
        return 1
  return 0
data["Sim_Ganh_Ba_Duoi"] = data["sim_number"].apply(check_double_third)
data["Sim_Ganh_Ba"] = data["sim_number"].apply(check_double_third_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,Sim_Ganh_Dao_aba_Giua,Sim_Ganh_Dao_aba,Sim_Ganh_Kep_Giua,Sim_Ganh_Kep_Duoi,Sim_Ganh_Kep_abcab,Sim_Ganh_Tien_Giua,Sim_Ganh_Tien_Duoi,Sim_Ganh_Tien_abcba,Sim_Ganh_Ba_Duoi,Sim_Ganh_Ba
0,450000,343189288,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

Không Phân vị trí

In [101]:
def check_double_third_abcdabc(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,5,-1):
    if(s[i] == s[i-4] and s[i-1]==s[i-5] and s[i-2]==s[i-6]):
      if(s[i]==s[i-1] and s[i-1]==s[i-2]):
        continue
      else:
        return 1
  return 0
data["Sim_Ganh_Ba_abcdabc"] = data["sim_number"].apply(check_double_third_abcdabc)
test["Sim_Ganh_Ba_abcdabc"] = test["sim_number"].apply(check_double_third_abcdabc)

# Lặp kép

## Dạng1: abab^n

In [102]:
# Ở đuôi
def checkDuplicate(st):
  s = str(st)
  n = len(s)
  temp = [s[i-2:i] for i in range(n,1,-2)]
  count = 1
  for i in range (len(temp)-1):
    if(temp[i] == temp[i+1]): count +=1
    else: break
  if (count >= 1):
    return count  
  else:
    return 0
data["Sim_Lap_Kep_abab"] = data["sim_number"].apply(checkDuplicate)
test["Sim_Lap_Kep_abab"] = test["sim_number"].apply(checkDuplicate)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Dạng2: aa^n

In [103]:
def checkDuplicate2(st):
  s = str(st)
  n = len(s)
  count = 1
  check = 0
  tinh = 0
  dem = 0
  for i in range (n-1):
    if(s[i] == s[i+1]):
      count += 1
      if(count > 2 and check == 0):
        check = 1
        tinh += 1
      if(count == 2): dem += 1
    else:
      count = 1
      check = 0
  dem = dem - tinh
  if(dem > 1):
    return dem
  else:
    return 0

data["Sim_Lap_Kep_aa"] = data["sim_number"].apply(checkDuplicate2)
test["Sim_Lap_Kep_aa"] = test["sim_number"].apply(checkDuplicate2)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Dạng3: *aabbb*

In [42]:
#đuôi
def check_aabbb(st):
  s = str(st)
  n = len(s)
  if(s[n-1] == s[n-2] and s[n-2]==s[n-3] and s[n-4]==s[n-5] and s[n-4] != s[n-3]):
    return 1
  else:  
    return 0
#giữa
def check_aabbb_mid(st):
  s = str(st)
  n = len(s)
  for i in range (n-2,3,-1):
    if(s[i] == s[i-1] and s[i-1]==s[i-2] and s[i-3]==s[i-4] and s[i-3] != s[i-2]):
      return 1
  return 0
data["Sim_Lap_Kep_aabbb_Duoi"] = data["sim_number"].apply(check_aabbb)
data["Sim_Lap_Kep_aabbb_Giua"] = data["sim_number"].apply(check_aabbb_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,Sim_Ganh_Tien_Giua,Sim_Ganh_Tien_Duoi,Sim_Ganh_Tien_abcba,Sim_Ganh_Ba_Duoi,Sim_Ganh_Ba,Sim_Ganh_Ba_abcdabc,Sim_Lap_Kep_abab,Sim_Lap_Kep_aa,Sim_Lap_Kep_aabbb_Duoi,Sim_Lap_Kep_aabbb_Giua
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,0,0

In [104]:
def check_aabbb_1(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,3,-1):
    if(s[i] == s[i-1] and s[i-1]==s[i-2] and s[i-3]==s[i-4] and s[i-3] != s[i-2]):
      return 1
  return 0
data["Sim_Lap_Kep_aabbb"] = data["sim_number"].apply(check_aabbb_1)
test["Sim_Lap_Kep_aabbb"] = test["sim_number"].apply(check_aabbb_1)

## Dạng3 *bbbaa*

In [44]:
#Đuôi
def check_bbbaa(st):
  s = str(st)
  n = len(s)
  if(s[n-1] == s[n-2] and s[n-2] != s[n-3] and s[n-3]==s[n-4] and s[n-4] == s[n-5]):
    return 1
  else:  
    return 0
#Giữa
def check_bbbaa_mid(st):
  s = str(st)
  n = len(s)
  for i in range (n-2,3,-1):
    if(s[i] == s[i-1] and s[i-1] != s[i-2] and s[i-2] == s[i-3] and s[i-3] == s[i-4]):
      return 1
  return 0
data["Sim_Lap_Kep_bbbaa_Duoi"] = data["sim_number"].apply(check_bbbaa)
data["Sim_Lap_Kep_bbbaa_Giua"] = data["sim_number"].apply(check_bbbaa_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,Sim_Ganh_Ba_Duoi,Sim_Ganh_Ba,Sim_Ganh_Ba_abcdabc,Sim_Lap_Kep_abab,Sim_Lap_Kep_aa,Sim_Lap_Kep_aabbb_Duoi,Sim_Lap_Kep_aabbb_Giua,Sim_Lap_Kep_aabbb,Sim_Lap_Kep_bbbaa_Duoi,Sim_Lap_Kep_bbbaa_Giua
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,1,2,0,0,0,0,0

In [105]:
def check_bbbaa_1(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,3,-1):
    if(s[i] == s[i-1] and s[i-1] != s[i-2] and s[i-2] == s[i-3] and s[i-3] == s[i-4]):
      return 1
  return 0
data["Sim_Lap_Kep_bbbaa"] = data["sim_number"].apply(check_bbbaa_1)
test["Sim_Lap_Kep_bbbaa"] = test["sim_number"].apply(check_bbbaa_1)

## Dạng: aabbbb

In [46]:
#đuôi
def check_aabbbb(st):
  s = str(st)
  n = len(s)
  if(s[n-1] == s[n-2] and s[n-2]==s[n-3] and s[n-3]==s[n-4] and s[n-4]!=s[n-5] and s[n-5] == s[n-6]):
    return 1
  else:  
    return 0
#giữa
def check_aabbbb_mid(st):
  s = str(st)
  n = len(s)
  for i in range (n-2,5,-1):
    if(s[n-1] == s[n-2] and s[n-2]==s[n-3] and s[n-3]==s[n-4] and s[n-4]!=s[n-5] and s[n-5] == s[n-6]):
      return 1
  return 0
data["Sim_Lap_Kep_aabbbb_Duoi"] = data["sim_number"].apply(check_aabbbb)
data["Sim_Lap_Kep_aabbbb_Giua"] = data["sim_number"].apply(check_aabbbb_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,Sim_Lap_Kep_abab,Sim_Lap_Kep_aa,Sim_Lap_Kep_aabbb_Duoi,Sim_Lap_Kep_aabbb_Giua,Sim_Lap_Kep_aabbb,Sim_Lap_Kep_bbbaa_Duoi,Sim_Lap_Kep_bbbaa_Giua,Sim_Lap_Kep_bbbaa,Sim_Lap_Kep_aabbbb_Duoi,Sim_Lap_Kep_aabbbb_Giua
0,450000,343189288,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,1,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,1,2,0,0,0,0,0,0,0,0

In [106]:
def check_aabbbb_1(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,5,-1):
    if(s[n-1] == s[n-2] and s[n-2]==s[n-3] and s[n-3]==s[n-4] and s[n-4]!=s[n-5] and s[n-5] == s[n-6]):
      return 1
  return 0
data["Sim_Lap_Kep_aabbbb"] = data["sim_number"].apply(check_aabbbb_1)
test["Sim_Lap_Kep_aabbbb"] = test["sim_number"].apply(check_aabbbb_1)

## Dạng: bbbbaa

In [48]:
#đuôi
def check_bbbbaa(st):
  s = str(st)
  n = len(s)
  if(s[n-1] == s[n-2] and s[n-2]!=s[n-3] and s[n-3]==s[n-4] and s[n-4]==s[n-5] and s[n-5] == s[n-6]):
    return 1
  else:  
    return 0
#giữa
def check_bbbbaa_mid(st):
  s = str(st)
  n = len(s)
  for i in range (n-2,5,-1):
    if(s[n-1] == s[n-2] and s[n-2]!=s[n-3] and s[n-3]==s[n-4] and s[n-4]==s[n-5] and s[n-5] == s[n-6]):
      return 1
  return 0
data["Sim_Lap_Kep_bbbbaa_Duoi"] = data["sim_number"].apply(check_bbbbaa)
data["Sim_Lap_Kep_bbbbaa_Giua"] = data["sim_number"].apply(check_bbbbaa_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,Sim_Lap_Kep_aabbb_Giua,Sim_Lap_Kep_aabbb,Sim_Lap_Kep_bbbaa_Duoi,Sim_Lap_Kep_bbbaa_Giua,Sim_Lap_Kep_bbbaa,Sim_Lap_Kep_aabbbb_Duoi,Sim_Lap_Kep_aabbbb_Giua,Sim_Lap_Kep_aabbbb,Sim_Lap_Kep_bbbbaa_Duoi,Sim_Lap_Kep_bbbbaa_Giua
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
def check_bbbbaa_1(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,5,-1):
    if(s[n-1] == s[n-2] and s[n-2]!=s[n-3] and s[n-3]==s[n-4] and s[n-4]==s[n-5] and s[n-5] == s[n-6]):
      return 1
  return 0
data["Sim_Lap_Kep_bbbbaa"] = data["sim_number"].apply(check_bbbbaa_1)
test["Sim_Lap_Kep_bbbbaa"] = test["sim_number"].apply(check_bbbbaa_1)

## Dạng: *aabcc*

In [50]:
def check_aabcc(st):
  s = str(st)
  n = len(s)
  if(s[n-1] == s[n-2] and s[n-2] != s[n-3] and s[n-3] != s[n-4] and s[n-4] == s[n-5]):
    return 1
  else:  
    return 0
def check_aabcc_mid(st):
  s = str(st)
  n = len(s)
  for i in range (n-2,3,-1):
    if(s[i] == s[i-1] and s[i-1] != s[i-2] and s[i-2] != s[i-3] and s[i-3] == s[i-4]):
      return 1
  return 0
data["Sim_Lap_Kep_aabcc_Duoi"] = data["sim_number"].apply(check_aabcc)
data["Sim_Lap_Kep_aabcc_Giua"] = data["sim_number"].apply(check_aabcc_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,Sim_Lap_Kep_bbbaa_Giua,Sim_Lap_Kep_bbbaa,Sim_Lap_Kep_aabbbb_Duoi,Sim_Lap_Kep_aabbbb_Giua,Sim_Lap_Kep_aabbbb,Sim_Lap_Kep_bbbbaa_Duoi,Sim_Lap_Kep_bbbbaa_Giua,Sim_Lap_Kep_bbbbaa,Sim_Lap_Kep_aabcc_Duoi,Sim_Lap_Kep_aabcc_Giua
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
def check_aabcc_1(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,3,-1):
    if(s[i] == s[i-1] and s[i-1] != s[i-2] and s[i-2] != s[i-3] and s[i-3] == s[i-4]):
      return 1
  return 0
data["Sim_Lap_Kep_aabcc"] = data["sim_number"].apply(check_aabcc_1)
test["Sim_Lap_Kep_aabcc"] = test["sim_number"].apply(check_aabcc_1)

## Dạng: *abcdabcd*

In [52]:
def check_abcd(st):
  s = str(st)
  n = len(s)
  count = 0
  for i in range(n-1,n-5,-1):
    if(s[i] == s[i-4]):
      count += 1
      if(count == 4): return 1
    else:
      break
  return 0
def check_abcd_mid(st):
  s = str(st)
  n = len(s)
  for i in range (n-2,3,-1):
    if(s[i] == s[i-1] and s[i-1] != s[i-2] and s[i-2] != s[i-3] and s[i-3] == s[i-4]):
      return 1
  return 0
data["Sim_Lap_Kep_abcdabcd_Duoi"] = data["sim_number"].apply(check_abcd)
data["Sim_Lap_Kep_abcdabcd_Giua"] = data["sim_number"].apply(check_abcd_mid)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,Sim_Lap_Kep_aabbbb_Giua,Sim_Lap_Kep_aabbbb,Sim_Lap_Kep_bbbbaa_Duoi,Sim_Lap_Kep_bbbbaa_Giua,Sim_Lap_Kep_bbbbaa,Sim_Lap_Kep_aabcc_Duoi,Sim_Lap_Kep_aabcc_Giua,Sim_Lap_Kep_aabcc,Sim_Lap_Kep_abcdabcd_Duoi,Sim_Lap_Kep_abcdabcd_Giua
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [109]:
def check_abcd_1(st):
  s = str(st)
  n = len(s)
  for i in range (n-1,3,-1):
    if(s[i] == s[i-1] and s[i-1] != s[i-2] and s[i-2] != s[i-3] and s[i-3] == s[i-4]):
      return 1
  return 0
data["Sim_Lap_Kep_abcdabcd"] = data["sim_number"].apply(check_abcd_1)
test["Sim_Lap_Kep_abcdabcd"] = test["sim_number"].apply(check_abcd_1)

# Dạng đuôi năm sinh

In [110]:
def check_was_born(st):
  s = str(st)
  n = len(s)
  if(s[n-4] == '1' and s[n-3] == '9' and s[n-2] >= '7'):
    return 1
  elif(s[n-4] == '2' and s[n-3] == '0' and s[n-2] == '0'):
    return 1
  else:
    return 0
data["Sim_Duoi_Nam_sinh"] = data["sim_number"].apply(check_was_born)
test["Sim_Duoi_Nam_sinh"] = test["sim_number"].apply(check_was_born)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Sim Thần Tài

## Số chứa ptu '39', '79'

In [111]:
def check_wealth(st):
  s = str(st)
  n = len(s)
  arr = ['39','79']
  count = 0
  for i in range(n-1,0,-2):
    tmp = s[i-1] + s[i]
    if(tmp == arr[0] or tmp == arr[1]):
      count += 1
    else:
      break
    #print(tmp)
  return count
data["sim_than_tai"] = data["sim_number"].apply(check_wealth)
test["sim_than_tai"] = test["sim_number"].apply(check_wealth)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Số chứa ptu '3939 , 7979, 3979, 7979'

In [112]:
def check_contain_weath(st):
  s = str(st)
  if('3939' in s or '3979' in s or '7979' in s or '7939' in s): return 1
  return 0
data["sim_than_tai_2"] = data["sim_number"].apply(check_contain_weath)
test["sim_than_tai_2"] = test["sim_number"].apply(check_contain_weath)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [113]:
def check_god(st):
  s = str(st)
  n = len(s)
  arr = ['38','78']
  count = 0
  for i in range(n-1,0,-2):
    tmp = s[i-1] + s[i]
    if(tmp == arr[0] or tmp == arr[1]):
      count += 1
    else:
      break
    #print(tmp)
  return count
data["sim_ong_dia"] = data["sim_number"].apply(check_god)
test["sim_ong_dia"] = test["sim_number"].apply(check_god)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [58]:
def check_58(st):
  s = str(st)
  n = len(s)
  arr = ['58']
  count = 0
  for i in range(n-1,0,-2):
    tmp = s[i-1] + s[i]
    if(tmp == arr[0]):
      if(i != n-1):
        if(s[i+1] != '5' and s[i+1] != '8' and s[i-2] != '5' and s[i-2]!= '8'): count += 1
      else:
        if(s[i-2] != '8'):
          count += 1
    else:
      break
    #print(tmp)
  return count
data["sim_58"] = data["sim_number"].apply(check_58)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,Sim_Lap_Kep_aabcc_Giua,Sim_Lap_Kep_aabcc,Sim_Lap_Kep_abcdabcd_Duoi,Sim_Lap_Kep_abcdabcd_Giua,Sim_Lap_Kep_abcdabcd,Sim_Duoi_Nam_sinh,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5000000,902438679,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
def check_contain_god(st):
  s = str(st)
  if('3838' in s or '3878' in s or '7878' in s or '7838' in s): return 1
  return 0
data["sim_ong_dia_2"] = data["sim_number"].apply(check_contain_god)
test["sim_ong_dia_2"] = test["sim_number"].apply(check_contain_god)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [115]:
def check_68(st):
  s = str(st)
  n = len(s)
  arr = ['68','86', '66', '88']
  count = 0
  for i in range(n-1,0,-2):
    tmp = s[i-1] + s[i]
    if(tmp == arr[0] or tmp == arr[1] or tmp == arr[2] or tmp == arr[3]):
      count += 1
    else:
      break
    #print(tmp)
  return count
data["sim_loc_phat"] = data["sim_number"].apply(check_68)
test["sim_loc_phat"] = test["sim_number"].apply(check_68)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [116]:
def check_68_kep(st):
  s = str(st)
  if('6886' in s or '689' in s or '8668' in s or '869' in s): return 1
  return 0
data["sim_ong_dia_68"] = data["sim_number"].apply(check_68_kep)
test["sim_ong_dia_68"] = test["sim_number"].apply(check_68_kep)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [117]:
def check_37(st):
  s = str(st)
  n = len(s)
  arr = ['37','77']
  count = 0
  for i in range(n-1,0,-2):
    tmp = s[i-1] + s[i]
    if(tmp == arr[0] or tmp == arr[1]):
      count += 1
    else:
      break
    #print(tmp)
  return count
data["sim_ong_dia_37"] = data["sim_number"].apply(check_37)
test["sim_ong_dia_37"] = test["sim_number"].apply(check_37)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [118]:
def check_dacbiet_kep(st):
  s = str(st)
  if('1102' in s or '365078' in s or '1368' in s): return 1
  return 0
data["sim_dacbiet"] = data["sim_number"].apply(check_dacbiet_kep)
test["sim_dacbiet"] = test["sim_number"].apply(check_dacbiet_kep)
data.head()

,price_vnd,sim_number,sim_tien_len,sim_lui,sim_cuu_quy,sim_bat_quy,sim_bat_quy_dau,sim_bat_quy_cuoi,sim_that_quy,sim_that_quy_dau,...,sim_than_tai,sim_than_tai_2,sim_ong_dia,sim_58,sim_ong_dia_2,sim_loc_phat,sim_ong_dia_68,sim_ong_dia_37,sim_dacbiet,Nha_Mang
0,450000,343189288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,3000000,888899580,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,500000,928960006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,5000000,902438679,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
4,450000,334307889,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Mạng Viettel: 1; Mobi: 2; Vina: 3; Vietnammobile: 4; Gmobile: 5

In [119]:
def check_head(st):
  s = str(st)
  if(s[0]=='3'):
    return 1
  elif(s[0] == '7'):
    return 2
  elif(s[0]=='9'):
    if(s[1]=='6' or s[1] == '7' or s[1] == '8'):
      return 1
    elif(s[1]=='0' or s[1] == '3'):
      return 2
    elif(s[1]=='4' or s[1] == '1'):
      return 3
    elif(s[1]=='2'):
      return 4
    elif(s[1]=='9'):
      return 5
    return 0
  elif(s[0]=='8'):
    if(s[1]=='1' or s[1]=='2' or s[1] == '3'or s[1]=='4' or s[1]=='5' or s[1] == '8'):
      return 3
    elif(s[1] == '6'):
      return 1
    elif(s[1] == '9'):
      return 2
    return 0
  elif(s[0]==5):
    if(s[1] == '2' or s[1] == '6' or s[1] == '8'):
      return 4
    elif(s[1] == '9'):
      return 5
    return 0
  return 0
data["Nha_Mang"] = data["sim_number"].apply(check_head)
test["Nha_Mang"] = test["sim_number"].apply(check_head)
data["Nha_Mang"].value_counts()
print(data["Nha_Mang"])

0         1
1         3
2         4
3         2
4         1
         ..
199995    1
199996    2
199997    2
199998    1
199999    2
Name: Nha_Mang, Length: 200000, dtype: int64

# Train and test

## Lỗi

In [120]:
data.columns

Index(['price_vnd', 'sim_number', 'sim_tien_len', 'sim_lui', 'sim_cuu_quy',
       'sim_bat_quy', 'sim_bat_quy_dau', 'sim_bat_quy_cuoi', 'sim_that_quy',
       'sim_that_quy_dau', 'sim_that_quy_giua', 'sim_that_quy_duoi',
       'sim_luc_quy', 'sim_luc_quy_dau', 'sim_luc_quy_giua',
       'sim_luc_quy_duoi', 'sim_ngu_quy', 'sim_ngu_quy_dau',
       'sim_ngu_quy_giua', 'sim_ngu_quy_duoi', 'sim_tu_quy_dau',
       'sim_tu_quy_giua', 'sim_tu_quy_duoi', 'sim_tu_quy_kep',
       'sim_tam_hoa_dau', 'sim_tam_hoa_giua', 'sim_tam_hoa_duoi',
       'sim_tam_hoa_kep', 'Sim_Ganh_Dao_abba_Duoi', 'Sim_Ganh_Dao_abba_Giua',
       'Sim_Ganh_Dao_abba', 'Sim_Ganh_Dao_aba_Duoi', 'Sim_Ganh_Dao_aba_Giua',
       'Sim_Ganh_Dao_aba', 'Sim_Ganh_Kep_Giua', 'Sim_Ganh_Kep_Duoi',
       'Sim_Ganh_Kep_abcab', 'Sim_Ganh_Tien_Giua', 'Sim_Ganh_Tien_Duoi',
       'Sim_Ganh_Tien_abcba', 'Sim_Ganh_Ba_Duoi', 'Sim_Ganh_Ba',
       'Sim_Ganh_Ba_abcdabc', 'Sim_Lap_Kep_abab', 'Sim_Lap_Kep_aa',
       'Sim_Lap_Kep_aabbb_Duoi', 'Sim_Lap_Kep_aabbb_Giua', 'Sim_Lap_Kep_aabbb',
       'Sim_Lap_Kep_bbbaa_Duoi', 'Sim_Lap_Kep_bbbaa_Giua', 'Sim_Lap_Kep_bbbaa',
       'Sim_Lap_Kep_aabbbb_Duoi', 'Sim_Lap_Kep_aabbbb_Giua',
       'Sim_Lap_Kep_aabbbb', 'Sim_Lap_Kep_bbbbaa_Duoi',
       'Sim_Lap_Kep_bbbbaa_Giua', 'Sim_Lap_Kep_bbbbaa',
       'Sim_Lap_Kep_aabcc_Duoi', 'Sim_Lap_Kep_aabcc_Giua', 'Sim_Lap_Kep_aabcc',
       'Sim_Lap_Kep_abcdabcd_Duoi', 'Sim_Lap_Kep_abcdabcd_Giua',
       'Sim_Lap_Kep_abcdabcd', 'Sim_Duoi_Nam_sinh', 'sim_than_tai',
       'sim_than_tai_2', 'sim_ong_dia', 'sim_58', 'sim_ong_dia_2',
       'sim_loc_phat', 'sim_ong_dia_68', 'sim_ong_dia_37', 'sim_dacbiet',
       'Nha_Mang'],
      dtype='object')

In [121]:
features = {'sim_tien_len', 'sim_lui', 'sim_cuu_quy',
       'sim_bat_quy_dau', 'sim_bat_quy_cuoi',
       'sim_that_quy_dau', 'sim_that_quy_giua', 'sim_that_quy_duoi',
       'sim_luc_quy', 'sim_ngu_quy', 'sim_tu_quy_dau',
       'sim_tu_quy_giua', 'sim_tu_quy_duoi', 'sim_tu_quy_kep',
       'sim_tam_hoa_dau', 'sim_tam_hoa_giua', 'sim_tam_hoa_duoi',
       'sim_tam_hoa_kep', 'Sim_Ganh_Dao_abba','Sim_Ganh_Dao_aba',
       'Sim_Ganh_Kep_abcab', 'Sim_Ganh_Tien_abcba','Sim_Ganh_Ba_abcdabc', 'Sim_Lap_Kep_aa',
       'Sim_Lap_Kep_aabbb', 'Sim_Lap_Kep_bbbaa',
       'Sim_Lap_Kep_aabbbb', 'Sim_Lap_Kep_bbbbaa', 'Sim_Lap_Kep_aabcc',
       'Sim_Lap_Kep_abcdabcd', 'Sim_Duoi_Nam_sinh', 'sim_than_tai',
       'sim_than_tai_2', 'sim_ong_dia', 'sim_ong_dia_2',
       'sim_loc_phat', 'sim_ong_dia_68', 'sim_ong_dia_37', 'sim_dacbiet',
       'Nha_Mang'}

In [122]:
y_train = data['price_vnd']
X_test = test[features]
X_train = data[features]
X_test

,sim_luc_quy,sim_ong_dia_68,sim_tien_len,Sim_Ganh_Kep_abcab,Sim_Lap_Kep_aa,sim_tu_quy_duoi,Sim_Lap_Kep_aabcc,Nha_Mang,sim_tu_quy_dau,sim_that_quy_dau,...,sim_tam_hoa_giua,sim_bat_quy_cuoi,sim_ong_dia_2,Sim_Ganh_Tien_abcba,sim_loc_phat,sim_cuu_quy,Sim_Duoi_Nam_sinh,sim_tu_quy_kep,sim_ong_dia,sim_tam_hoa_duoi
0,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,3,0,1,3,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149055,0,0,0,1,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
149056,0,0,0,0,0,0,0,4,0,0,...,0,0,0,0,0,0,1,0,0,1
149057,0,0,3,0,2,0,0,1,0,0,...,0,0,0,0,1,3,0,0,0,0
149058,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
149059,0,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
from sklearn.linear_model import LinearRegression
ml = LinearRegression()
ml.fit(X_train, y_train)

LinearRegression()

In [128]:
y_pred = ml.predict(X_test)

In [129]:
result = pd.DataFrame({'sim_number':test['sim_number'], 'price_vnd': y_pred})

In [127]:
result.to_csv("Name.csv", index=False)